<launch>
  <!-- load acrobot controller configurations from YAML file to parameter server -->
  <rosparam file="$(find acrobot_controllers)/config/acrobot_controllers.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/acrobot" args="joint1_controller"/>

  <node pkg="acrobot_controllers" type="acrobot_node.py" name="acrobot_node" output="screen"></node>
  
  <node pkg="acrobot_controllers" type="my_joint_state_publisher.py" name="my_joint_state_publisher" output="screen"></node>

</launch>
